---
# Common commands:
# pre-commit install
# pre-commit autoupdate
# pre-commit run --all-files copier-template-tester

default_install_hook_types: ["commit-msg", "pre-commit", "pre-push"]

repos:
  - repo: https://github.com/kyleking/copier-template-tester
    rev: 2.2.0
    hooks:
      - id: copier-template-tester

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
        args: [--unsafe]
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: \.copier-answers\.yml
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: mixed-line-ending
        args: [--fix=auto]
      - id: trailing-whitespace

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.11.6
    hooks:
      - id: commitizen

  - repo: https://github.com/pappasam/toml-sort
    rev: v0.24.3
    hooks:
      - id: toml-sort-fix
        stages: ["pre-commit"]

  - repo: https://github.com/KyleKing/calcipy
    rev: 5.0.0
    hooks:
      - id: copier-forbidden-files
