{% if use_goreleaser -%}
# typed: false
# frozen_string_literal: true

class {{ project_name | replace("-", " ") | title | replace(" ", "") }} < Formula
  desc "{{ project_description }}"
  homepage "{{ repository_provider }}/{{ repository_namespace }}/{{ project_name }}"
  license "MIT"
  version "0.1.0"

  on_macos do
    if Hardware::CPU.arm?
      url "#{homepage}/releases/download/v#{version}/{{ project_name }}-darwin-arm64"
      sha256 "REPLACE_WITH_SHA256_FOR_DARWIN_ARM64"
    else
      url "#{homepage}/releases/download/v#{version}/{{ project_name }}-darwin-amd64"
      sha256 "REPLACE_WITH_SHA256_FOR_DARWIN_AMD64"
    end
  end

  on_linux do
    if Hardware::CPU.arm?
      url "#{homepage}/releases/download/v#{version}/{{ project_name }}-linux-arm64"
      sha256 "REPLACE_WITH_SHA256_FOR_LINUX_ARM64"
    else
      url "#{homepage}/releases/download/v#{version}/{{ project_name }}-linux-amd64"
      sha256 "REPLACE_WITH_SHA256_FOR_LINUX_AMD64"
    end
  end

  def install
    binary_name = "{{ project_name }}-#{OS.kernel_name.downcase}-#{Hardware::CPU.arch}"
    bin.install binary_name => "{{ project_name }}"
  end

  test do
    assert_match version.to_s, shell_output("#{bin}/{{ project_name }} --version")
  end
end
{%- endif %}
