# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
{{ project_name }}

# Test binary
*.test

# Output of go coverage tool
*.out
coverage.out

# Go workspace (local only)
go.work.sum

# IDE
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Dependency directories
vendor/
